<ul
  class="flex bg-white justify-content-evenly align-items-center m-0 shadow-2"
>
  <h1 class="">LOGO</h1>
  <ul class="flex list-none gap-2">
    <li
      routerLink="sales"
      routerLinkActive="border-round bg-primary text-white px-2 py-1"
      class="cursor-pointer hover:underline"
    >
      Sales
    </li>
    <li
      routerLink="products"
      class="cursor-pointer hover:underline"
      routerLinkActive="border-round bg-primary text-white px-2 py-1"
    >
      Products
    </li>
    <li
      [routerLink]="['/dashboard/profile/', userId]"
      routerLinkActive="border-round bg-primary text-white px-2 py-1"
      class="cursor-pointer hover:underline"
    >
      Profile
    </li>
  </ul>
  <div class="flex list-none gap-2">
    <li (click)="logout()" class="cursor-pointer hover:underline">Logout</li>
  </div>
</ul>
