<div *ngIf="product" class="flex flex-column gap-5">
  <div [class]="class[0]">
    <i [class]="class[2]"></i>
    <h1 [class]="class[1]">
      {{ product.isAvailable ? "Available" : "Unavailable" }}
    </h1>
  </div>
  <div class="flex justify-content-evenly">
    <div class="flex flex-column align-items-center">
      <h2 class="font-light">
        <span>{{ product.id }}</span>
      </h2>
      <h2 class="font-light">
        Sale price: <span>{{ product.price | currency }}</span>
      </h2>
    </div>
    <div class="flex flex-column align-items-center">
      <h2 class="font-light">
        <span>{{ product.name }} </span>
      </h2>
      <h2 class="font-light">
        <span>{{ product.stock }}</span> left in stock
      </h2>
    </div>
  </div>
  <div class="w-full text-center">
    Registered at: {{ product.createdAt | date }}
  </div>
  <div class="flex justify-content-evenly">
    <button
      pButton
      pRipple
      iconPos="right"
      icon="pi pi-trash"
      type="Delete"
      label="Delete"
      (click)="delete()"
      class="p-button-danger w-3 align-self-center"
    ></button>
    <button
      pButton
      pRipple
      iconPos="right"
      icon="pi pi-pencil"
      type="Update"
      label="Update"
      (click)="update()"
      class="p-button-warning w-3 align-self-center"
    ></button>
  </div>
</div>
<app-error-message
  *ngFor="let error of errors"
  [message]="error"
></app-error-message>
<app-modal-product-form [productInfo]="product"></app-modal-product-form>
