<form
  [formGroup]="authForm"
  (submit)="submit()"
  class="flex flex-column shadow-1 gap-4 p-3 bg-white align-items-center border-round"
>
  <h1>{{ formTitleText }}</h1>
  <span class="p-float-label w-full">
    <input
      class="w-full"
      formControlName="email"
      type="email"
      id="email"
      pInputText
    />
    <label for="email">Email</label>
  </span>
  <span class="p-float-label p-input-icon-right w-full">
    <i (click)="setPasswordField()" [class]="passwordOptions.passwordIcon"></i>
    <input
      class="w-full"
      formControlName="password"
      [type]="passwordOptions.passwordFieldType"
      id="password"
      pInputText
    />
    <label for="password">Password</label>
  </span>
  <i
    *ngIf="isLoading"
    class="pi pi-spin pi-spinner"
    style="font-size: 2rem"
  ></i>

  <button
    *ngIf="!isLoading"
    class="w-full uppercase text-montserrat"
    (click)="submit()"
    pButton
    type="button"
    [disabled]="isInvalidForm()"
    [label]="submitButtonText"
  ></button>

  <span
    [routerLink]="linkText.route"
    class="align-self-start text-xs font-medium cursor-pointer hover:font-bold hover:underline"
  >
    {{ linkText.text }}
  </span>
  <app-error-message
    *ngFor="let error of errors"
    [message]="error"
  ></app-error-message>
</form>
