<div class="relative flex flex-column justify-content-start h-full">
  <form
    class="flex p-2 gap-4 align-items-center justify-content-center"
    [formGroup]="searchForm"
  >
    <div class="flex gap-1">
      <p-checkbox
        formControlName="isAvailable"
        [binary]="true"
        (onChange)="getAvailableProducts()"
        inputId="isAvailable"
        name="isAvailable"
      ></p-checkbox>
      <label class="cursor-pointer" for="isAvailable"
        >Only available products</label
      >
    </div>
    <div class="flex gap-3 w-8">
      <input
        class="w-full"
        formControlName="name"
        type="text"
        placeholder="Search a product by its name"
        pInputText
        (keyup)="search($event)"
      />
      <p-button
        label="Search"
        icon="pi pi-search"
        iconPos="right"
        [loading]="isLoadingSearch"
        (click)="search()"
      ></p-button>
    </div>
  </form>
  <div *ngIf="isLoadingProducts" class="flex justify-content-center">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  </div>
  <div
    *ngIf="!isLoadingProducts"
    class="max-w-full justify-content-center grid p-3 gap-3"
  >
    <div *ngIf="products.length === 0">Products were not found :/</div>
    <div
      [routerLink]="['/dashboard/product/', product.id]"
      class="col-3 cursor-pointer border-round border-white bg-primary border-1"
      *ngFor="let product of products"
    >
      <div>
        <h2>{{ product.name }}</h2>
        <h3>{{ product.price | currency : "USD" }}</h3>
        <h5 class="">{{ product.stock }} left in stock</h5>
      </div>
    </div>
  </div>
  <app-fab></app-fab>
</div>
<app-modal-product-form></app-modal-product-form>
